.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 5px 10px var(--btn-primary);
    transition: 0.3s;
    animation: fadeIn 1s;
   
}
.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 15px;
    border: 1px solid var(--btn-primary);
}
.food-item-info{
    padding: 20px;

    border-radius: 30px;
}
.food-item-name-rating{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 20px;
    font-weight:500;
    color: var(--text-subheading);
}
/* .food-item-name-rating img{
    width: 70px;
} */
.food-item-desc{
    color:var(--text-body);

}
.food-item-price{
    color: var(--text-link);
    font-size:22px;
    font-weight: 500;
    margin: 10px 0px;
}
.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    width: 35px;
    position: absolute;
   
   
    top: 200px;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
}
.food-item-counter{
    position: absolute;
    top: 200px;
   
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding:6px ;
    border-radius:50px ;
    background-color: white;
}
.food-item-counter img{
    width: 30px;
}



